.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.landing div {
  flex: 1;
}

.button-container {
  gap: 10px;
}

.button-container button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: red;
  border-radius: 10%;
}

.image {
  max-width: 100%;
  height: auto;
}

.landing-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container-second,
.image-second {
  flex: 1;
}

.image-second img {
  max-width: 100%;
  height: auto;
  display: block;
}
