/* App.css */

body,
html {
  height: 100%;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr; /* Single column by default */
  grid-template-rows: 1fr 1fr; /* Two rows by default */
  height: 100vh; /* 100% of the viewport height */
}

.video {
  background-color: red;
}

.feed {
  background-color: blue;
}

/* Media query for responsiveness */
@media (min-width: 768px) {
  .App {
    grid-template-columns: 75% 25%; /* 75% for video, 25% for feed */
    grid-template-rows: 1fr; /* Single row in wider view */
  }
}
